.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-box {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.question-box h5 {
    margin-bottom: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

button {
    width: 120px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.mr-2 {
    margin-right: 10px;
}